@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = "_Layout2"; }


<section>

</section>

<section id="feature1" class="aboutt">
    <div style="border-color:#ff7f50; border-width:10px;" class="container">

        <div class="row justify-content-end">


            <div class="col-lg-6  video-box7 align-self-baseline position-relative">


            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content">
                <h3 style="color: #6495ED">New Physician</h3>
                <p class="fst-italic">
                    Add a physician
                </p>
                <h5 style="color: #6495ED"><strong>Click here to add the New Physician</strong></h5>
                <a asp-area="Views" asp-controller="Admin" asp-action="CreateNewPhysician"><input type="Submit" value="New Physcian" class="btn1"> </a>
                <p>

                </p>
            </div>

        </div>

    </div>

</section>
<section id="feature1" class="aboutt">
    <div style="border-color:#ff7f50; border-width:10px;" class="container">

        <div class="row justify-content-end">


            <div class="col-lg-6  video-box8 align-self-baseline position-relative">


            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content">
                <h3 style="color: #6495ED">New Supplier</h3>
                <p class="fst-italic">
                    Add a Supplier
                </p>
                <h5 style="color: #6495ED"><strong>Click here to add the New Supplier</strong></h5>
                <a asp-area="Views" asp-controller="Admin" asp-action="NewSupplier"><input type="Submit" value="New Supplier" class="btn1"> </a>
                <p>

                </p>
            </div>

        </div>

    </div>
</section>
<section>

</section>